@page "/"
@rendermode InteractiveServer
@using Blockbuster.Application.Interface
@using Blockbuster.Application.Models
@using Blockbuster.Components.Shared
@inject IMovieService MovieService

<PageTitle>Blockbuster - Movies Review</PageTitle>

<h1>Movies Review</h1>

<div class="container mt-3">
    <div class="row mb-3">
        <div class="col">
            <SearchBar FetchSuggestions="GetSuggestions" OnSearch="HandleSearch" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            @if (_selectedMovie != null)
            {
                <div class="card">
                    <img class="card-img-top img-fluid" src="@_selectedMovie.ImageUrl" alt="@_selectedMovie.Title">
                    <div class="card-body">
                        <h5 class="card-title">@_selectedMovie.Title</h5>
                        <p class="card-text">@_selectedMovie.Description</p>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Rating</td>
                                            <td>@_selectedMovie.Rating</td>
                                        </tr>
                                        <tr>
                                            <td>Duration</td>
                                            <td>@($"{_selectedMovie.Timespan / 60}h {_selectedMovie.Timespan % 60}min")</td>
                                        </tr>
                                        <tr>
                                            <td>Director</td>
                                            <td>@_selectedMovie.Director</td>
                                        </tr>
                                        <tr>
                                            <td>Genre</td>
                                            <td>@_selectedMovie.Genre</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-3 scrollable-div">
            @if (_topRatedMovies == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                @foreach (var movie in _topRatedMovies)
                {
                    <div class="card" style="margin-bottom: 1rem;">
                        <img class="card-img-top img-fluid" src="@movie.ImageUrl" alt="@movie.Title">
                        <div class="card-body">
                            <h5 class="card-title">@movie.Title</h5>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button type="button" class="btn btn-primary" @onclick="@(() => SelectMovie(movie))">Show Details</button>
                            </div>
                        </div>
                    </div>
                }
                if (_showLoadMore)
                {
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="button" class="btn btn-primary" @onclick="LoadMore">Load More</button>
                    </div>
                }
            }
        </div>
    </div>
</div>

@code {
    private List<MovieSummaryDto>? _topRatedMovies;
    private MovieDto? _selectedMovie;
    private const int MoviesToShow = 5;
    private int _offset;
    private bool _showLoadMore = true;
    private MovieSummaryDto? _cacheSummaryDto;

    protected override async Task OnInitializedAsync()
    {
        _topRatedMovies = (await MovieService.GetTopRatedMoviesAsync(MoviesToShow, _offset) ?? Array.Empty<MovieSummaryDto>()).ToList();
        if (_topRatedMovies is not null)
        {
            _selectedMovie = await MovieService.GetMovieAsync(_topRatedMovies.First().Id);
            _cacheSummaryDto = _topRatedMovies.First();
            _topRatedMovies.Remove(_cacheSummaryDto);
        }
    }

    private async Task SelectMovie(MovieSummaryDto movie)
    {
        _selectedMovie = await MovieService.GetMovieAsync(movie.Id);
        if (_cacheSummaryDto is not null)
        {
            _topRatedMovies?.Add(_cacheSummaryDto);
            _cacheSummaryDto = movie;
            _topRatedMovies?.Remove(movie);
        }
    }

    private async Task LoadMore()
    {
        _offset += MoviesToShow;
        var moreMovies = (await MovieService.GetTopRatedMoviesAsync(MoviesToShow, _offset) ?? Array.Empty<MovieSummaryDto>()).ToList();
        if (moreMovies.Any())
        {
            _topRatedMovies?.AddRange(moreMovies);
        }
        if (moreMovies.Count - 1 < MoviesToShow)
        {
            _showLoadMore = false;
        }
    }

    private async Task<IEnumerable<string>> GetSuggestions(string searchText)
    {
        var suggestions = await MovieService.GetMovieSuggestionsAsync(searchText);
        return suggestions.Select(s => s.Title);
    }

    private async Task HandleSearch(string query)
    {
        _selectedMovie = (await MovieService.SearchMoviesAsync(query)).FirstOrDefault();
    }
}