@page "/movies-review"
@using Blockbuster.Application.Interface
@using Blockbuster.Application.Models
@inject IMovieService MovieService

<PageTitle>Blockbuster - Movies Review</PageTitle>

<h1>Movies Review</h1>

<div class="container mt-3">
    <div class="row mb-3">
        <div class="col">
            <input type="search" class="form-control" placeholder="Search movies...">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            @if (_selectedMovie != null)
            {
                <div class="card">
                    <img class="card-img-top img-fluid" src="@_selectedMovie.ImageUrl" alt="@_selectedMovie.Title">
                    <div class="card-body">
                        <h5 class="card-title">@_selectedMovie.Title</h5>
                        <p class="card-text">@_selectedMovie.Description</p>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Rating</td>
                                            <td>@_selectedMovie.Rating</td>
                                        </tr>
                                        <tr>
                                            <td>Duration</td>
                                            <td>@($"{_selectedMovie.Timespan / 60}h {_selectedMovie.Timespan % 60}min")</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-4">
            @if (_topRatedMovies == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                @foreach (var movie in _topRatedMovies)
                {
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top img-fluid" src="@movie.ImageUrl" alt="@movie.Title">
                        <div class="card-body">
                            <h5 class="card-title">@movie.Title</h5>
                            <button type="button" class="btn btn-primary" @onclick="@(() => SelectMovie(movie))">Show Details</button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

@code {
    private IEnumerable<MovieSummaryDto>? _topRatedMovies;
    private MovieDto? _selectedMovie;

    protected override async Task OnInitializedAsync()
    {
        _topRatedMovies = await MovieService.GetTopRatedMoviesAsync();
    }

    private async Task SelectMovie(MovieSummaryDto movie)
    {
        _selectedMovie = await MovieService.GetMovieAsync(movie.Id);
    }
}